@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    --animate-appear: appear 600ms ease-out forwards;
    --animate-appear-1: appear 900ms ease-out forwards;
    --animate-appear-2: appear 1200ms ease-out forwards;
    --animate-disappear: disappear 600ms ease-out forwards;
    --animate-disappear-1: disappear 700ms ease-out forwards;
    --animate-disappear-2: disappear 800ms ease-out forwards;
    --animate-float: float 6000ms ease-in-out infinite;
    --animate-pulse-subtle: pulse-subtle 4000ms ease-in-out infinite;
    --animate-fade-in: fade-in 700ms ease-out forwards;
    --animate-fade-in-delay-1: fade-in 700ms ease-out 200ms forwards;
    --animate-fade-in-delay-2: fade-in 700ms ease-out 400ms forwards;
    --animate-fade-in-delay-3: fade-in 700ms ease-out 600ms forwards;
    --animate-fade-in-delay-4: fade-in 700ms ease-out 800ms forwards;
    --animate-meteor: meteor 5000ms linear infinite;

    @keyframes appear {
        from {
            opacity: 0;
            transform: translateX(-100px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    @keyframes disappear {
        from {
            opacity: 1;
            transform: translateX(0);
        }
        to {
            opacity: 0;
            transform: translateX(100px);
        }
    }
    @keyframes float {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }
    @keyframes pulse-subtle {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0.8;
        }
    }
    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    @keyframes meteor {
        0% {
            opacity: 0;
            transform: rotate(215deg) translateX(0);
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: rotate(215deg) translateX(-500px);
        }
    }
}

html {
    scroll-behavior: smooth;
}

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #01002A;
    color: white;
}

@utility text-glow {
    @apply relative;
    text-shadow: 0 0 10px rgba(167, 139, 250, 0.5);
}
@utility action-button {
    @apply px-6 py-2 rounded-full bg-[#F59E0B] text-black font-medium
           transition-all duration-300 cursor-pointer
           hover:scale-105 active:scale-95;
}
@utility star {
    @apply absolute rounded-full bg-white;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
}
@utility meteor {
    @apply absolute bg-linear-to-r from-white via-white to-transparent rounded-full;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3);
}
@utility custom-margin {
    @apply mx-5 xl:mx-50 lg:mx-25 md:mx-15 sm:mx-10
}
@utility text-mute-foreground {
    @apply text-[#6B7280]
}
@utility bg-sky-darker {
    @apply bg-gradient-to-b from-[#001A35] to-[#018FDB]
}
@utility bg-sky-light {
    @apply bg-gradient-to-b from-[#018FDB] to-[#7EDCFD]
}

#root {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}